@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Spartan:wght@100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
}

@custom-variant 2xl (@media (max-width: 1535px));
@custom-variant xl (@media (max-width: 1033px));
@custom-variant lg (@media (max-width: 900px));
@custom-variant md (@media (max-width: 780px));
@custom-variant sm (@media (max-width: 665px));
@custom-variant gg (@media (max-width: 450px));

body {
  background-color: #070724;
  font-family: "League Spartan", sans-serif;
  min-height: 100vh;
}

footer h1 {
  font-family: "Antonio", sans-serif;
}

.planets,
.planet_name,
footer h1 {
  font-family: "Antonio", sans-serif;
}

* {
  transition: all 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#root {
  animation: fadeIn 0.5s ease-in forwards;
}
